/* GENERAL */
body {
    color: white;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

/* UTILITIES */

/* section color blue */
.color_blue {
    color: #2c3e50;
}

/* star divisore */
.star {
    font-size: 25px;
}

.star span {
    display: inline-block;
    width: 15%;
    border: 2px solid;
    border-radius: 5px;
    vertical-align: middle;
}

/* STYLE HEADER */

/* style navbar */
.cd-nav {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 20px 0;
    border: none;
    border-radius: 0;
    background-color: #2c3e50;
}

a.navbar-brand {
    font-size: 25px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white; 
}


/* style hero */
.hero {
    padding: 30px 0;
    background-color: #1abc9c;
}

.hero img {
    width: 250px;
}


/* section portfolio img */
.card img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px auto;
}

/* section about */
.about {
    padding: 25px 0;
    margin-top: 30px;
    background-color: #1abc9c;
}

.about .star {
    margin-bottom: 20px;
}

.cd-button { 
    margin-top: 20px;
    color: white;
    background-color: #1abc9c;
    border-color: white;
}

/* section contact */
.contact {
    padding: 20px 0;
}

.cd-form {
    padding-left: 0;
    margin-top: 15px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey; 
}


input.cd-form::placeholder {
    color: #2c3e50;
}

label.message {
    font-weight: 400;
    margin-top: 15px;
}

/* FOOTER */

/* footer top */
.footer_top {
    padding: 20px;
    background-color: #3a546d;
}

.footer_top i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 50%;
}

.cd-footer-top {
    margin: 20px 0;
}

.cd-footer-top span {
    color: #1abc9c;
}

/* footer bottom */
.footer_bottom {
    padding: 40px;
    background-color: #2c3e50;
}
